<div class="container">
    <section class="flex">
        <header>
            <h2>About Me</h2>
            <h3>Who I am and what I do</h3>
        </header>
        <article class="about">
            <p>Amsterdam based Front-End Developer with a passion for the web. I've been making websites and webapps for 3 years now and am still learning all the new tricks and technologies to get the best results possible. No challenge is too big to turn down as with every project I become a better developer. I am always looking to learn new tools and skills.</p>
            <p><a href="#/contact">So challenge me with your project so we can help each other.</a></p>
        </article>
    </section>
</div>